<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <br />
                <%= @user.name %>
                <br />
                <%= @user.email %>
                <br />
                <%= @user.area %>
                <br />
                <%= link_to "Following", followings_user_path(@user) %>
                <br />
                <%= link_to "Followers", followers_user_path(@user) %>
                <br />
                <% if current_user != @user %>
                <%= link_to "View my profile / my microposts", current_user %>
                <% end %>
                <br />
            </h1>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <%= page_entries_info @microposts %>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
            <%= paginate @microposts %>
        <% end %>
    </div>
</div>